<div class="card card_{{ pensamento.modelo }}">
    <div class="card-body d-flex flex-column">
        <i class="bi-quote quote_icon {{ pensamento.modelo }}"></i>
        <p>{{ pensamento.conteudo }} </p>
        <p><b>Autor:</b> {{ pensamento.autoria }}</p>
        <div class="d-flex flex-row justify-content-end">
            <a *ngIf="pensamento.id != 0, else no_edit" href="/pensamento/update/{{ pensamento.id }}"><i
                    class="bi-pencil-square trash_icon {{ pensamento.modelo }} mx-2"></i></a>
            <a *ngIf="pensamento.id != 0, else no_delete" routerLink="/pensamento/delete/{{ pensamento.id }}"><i
                    class="bi-trash3 trash_icon {{ pensamento.modelo }}"></i></a>
        </div>
    </div>
</div>

<ng-template #no_edit>
    <i class="bi-pencil-square trash_icon {{ pensamento.modelo }} mx-2"></i>
</ng-template>

<ng-template #no_delete>
    <i class="bi-trash3 trash_icon {{ pensamento.modelo }}"></i>
</ng-template>