<div class="d-flex p-3 justify-content-end">
    <a class="btn btn-lg btn-primary" routerLink="/pensamento/create">Adicionar pensamento</a>
</div>

<div class="form-group p-3">
    <input type="text" (keyup)="pesquisar()" [(ngModel)]="filtro" class="form-control w-100" id="filtro" name="filtro" aria-describedby="filtroHelp" placeholder="Deseja pesquisar por pensamentos?">
</div>

<div class="container-fluid d-flex row" *ngIf="listaPensamentos.length > 0, else semPensamentos">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let pensamento of listaPensamentos">

        <app-pensamento [pensamento]="pensamento"></app-pensamento>

    </div>
</div>

<ng-template #semPensamentos>
<div class="d-flex justify-content-center p-5">
    <h2>Sem pensamentos cadastrados</h2>
</div>
</ng-template>
